# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Mimic-Gotta-Sneak.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\!Projets\Mimic-Gotta-Sneak\.idea\.idea.Mimic-Gotta-Sneak\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
